*{
    margin: 0;
    padding: 0;
}

body{
    background: url("../img/back.png");
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #15294e;
    font-family: "Roboto";
}

@media only screen and (max-width: 800px){
    body{
        background: none;
    }
}

#title{
    color: #b3d561;
    font-family: "Roboto";
    font-size: calc(100px - 3vw);
    font-weight: 400;
}

#subtitle{
    color: #b3d561;
    font-size: calc(60px - 2vw);
    margin-top: -25px;
    margin-left: calc(170px - 2vw);
}

#line{
    margin-top: 2vw;
    border: 5px #e6e1ce dashed;
}

.nav_name{
    color: #e6e1ce;
    font-size: 25px;
}

.nav_item{
    display: inline-block;
}

#planetas{
    margin-top: -1vw;
}

#about{
    margin-left: 13vw;
}

#academic{
    margin-left: 13vw;
}

#experiences{
    margin-left: 13vw;
}

.quadrado{
    position: absolute;
    top: calc(300px - 2vw);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 70vw;
    height: auto;
    background: #e6e1ce;
    opacity: 0.9;
    padding: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.quadrado::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.quadrado::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.quadrado::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
    border-radius: 10vw;
}

#rocket{
    position: absolute;
    bottom: calc(100px - 1vw);
    float: left;
    left: calc(-50px + 6vw);
}

#launch{
    margin-left: 1vw;
    margin-bottom: 1vw;
    position: absolute;
    bottom: 0;
    left: 0;
}

#title_home{
    font-family: "Roboto";
    font-weight: 300;
    display: inline-block;
    font-size: 400%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#capacete{
    width: 15%;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-bottom: 1vw;
    margin-right: 1vw;
}

#objetivos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4vw;
}

.title{
    font-weight: 100;
    font-size: calc(100px - 2vw);
    float: left;
    margin-left: 5vw;
    order: 1;
}

.txt_obj{
    font-size: 150%;
    font-weight: 300;
    margin-left: calc(50px - 2vw);
    margin-top: 1vw;
}

#obj1{
    order: 2;
}

#obj2{
    order: 3;
}

#obj3{
    order: 4;
}

#experiencias{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#conteudo_experiencias{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 4vw;
}

#exp1{
    order: 2;
}
#exp2{
    order: 3;
}
#exp3{
    order: 4;
}
#exp4{
    order: 5;
}

#sobre{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

#conteudo{
    order: 2;
}

#title_sobre{
    order: 1;
    align-self: flex-start;
}

#txt_sobre{
    font-size: 150%;
    font-weight: 300;
    padding: 3%;
    overflow: auto;
}

#txt_sobre::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#txt_sobre::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#txt_sobre::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
    border-radius: 10vw;
}

#graph{
    margin-top: -6%;
    padding: 3%;
}

.title_graph{
    margin-left: 20%;
    font-size: 150%;
}

#grafico{
    margin-top: calc(-150px + 8vw);
}

.bg-laranja{
    background-color: #F90;!important;
}

#formacao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto;
    overflow-x: hidden;
}

#formacao::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#formacao::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#formacao::-webkit-scrollbar-thumb {
    background-color: #F90;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent);
    border-radius: 10vw;
}

#conteudo_formacao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subtitle{
    font-size: 150%;
    font-weight: 300;
}

#skills{
    margin-top: 3%;
    margin-bottom: 38vw;
}